@import "tailwindcss"

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*? Shared Style ?*/
.noto {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/*? Section Style ?*/
.nav-bar {
  max-width: 1200px;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  color: #8987a1;
}
.nav-links li:hover {
  color: black;
  font-weight: 600;
}
.banner {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.plants-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.detail {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.trusted-badge {
  position: absolute;
  max-width: 280px;
  left: 350px;
  top: -110px;
  z-index: 1;
  animation: spin 7s linear infinite;
}
/*! CSS Animation !*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
