@import "tailwindcss" 

/*! Vanilla CSS !*/ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*? Shared Style ?*/
.noto {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/*? Section Style ?*/
.nav-bar {
  max-width: 1200px;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  color: #8987a1;
}
.nav-links li:hover {
  color: black;
  font-weight: 600;
}
.banner {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.plants-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.detail {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.trusted-badge {
  position: absolute;
  max-width: 280px;
  left: 350px;
  top: -110px;
  z-index: 1;
  animation: spin 6s linear infinite;
}
.deals {
  max-width: 1200px;
  margin: 0 auto;
}
.overlay {
  width: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: ease-in-out 1s;
}
.bloom-card:hover .overlay,
.ana-card:hover .overlay,
.zabo-card:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}
.bloom-card div > a:hover,
.ana-card div > a:hover,
.zabo-card div > a:hover {
  color: orange;
}
#contact {
  background-image: url(images/news-letter-bg.png);
  width: 100vw;
  height: 535px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.subscription {
  width: 640px;
  background: white;
  padding: 10px 20px;
  outline: none;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
}
.social-links img {
  filter: grayscale(100%);
  transition: 0.8s;
}
.social-links img:hover {
  filter: grayscale(0%);
}

/*! CSS Animation !*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*! Mobile Responsiveness !*/
@media screen and (max-width: 576px) {
  .nav-bar,
  .banner-content,
  .plants-content p,
  .detail,
  .deals,
  footer {
    max-width: 90vw;
    margin: 0 auto;
  }
  .nav-links ul {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .bloom-card .overlay,
  .ana-card .overlay {
    width: 100%;
  }
  #contact {
    max-height: 276px;
  }
  .subscription {
    max-width: 200px;
  }
  .social-links img {
    filter: grayscale(0%);
  }
}
